body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007BFF;
  text-align: center;
}
p{
    text-align: center;
    color: #b7b5b5;
    font-weight: 700;
}

form {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);   
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

button { 
  background-color: #007BFF;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: white;
}
.visit-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.visit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

